# Client-side alias. Replace HostName only after the SSH Server/VPN address is known.
Host ai_ssh_client
    HostName <host>
    User ai_standard_user
    IdentityFile ~/.ssh/id_ed25519_ai_workstation
    IdentitiesOnly yes
    ServerAliveInterval 30
    ServerAliveCountMax 3
